{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'jal/css/upper.css' %}">
<div class="upper">
    <div class="top-row">
        <div class="img">
            <img src="{% static 'jal/images/full_logo.png' %}" alt="Logo">
        </div>
        <div class="page-title">
            <h2 style='color: #1175B7;'>Change Password</h2>
        </div>
        <div class="account-dropdown">
    <button><img src="{% static 'jal/images/icon.png' %}" alt="Account Icon"></button>
    <div class="account-dropdown-content">
        <a href="{% url 'accountdetails' %}">My Profile</a>
        <a href="{% url 'changepassword' %}">Change Password</a>
        <a href="{% url 'Log_out' %}">Logout</a>
    </div>
</div>
    </div>
</div>
<hr>
<div class="form-wrapper location-form">
<form method="POST" action="">
    {% csrf_token %}
    
    <div class="container2">
        <div>
            <label for="ogpassword">Original Password:<span class="required-field"></span></label>
        </div>
        <div>
            <input type="password" id="ogpassword" name="ogpassword" style="width: 225px;" required>
        </div>
        
        <div>
            <label for="newpassword">New Password:<span class="required-field"></span></label>
        </div>
        <div>
            <input type="password" id="newpassword" name="newpassword" style="width: 225px;" required>
        </div>
        
        <div>
            <label for="confnewpassword">Confirm Password:<span class="required-field"></span></label>
        </div>
        <div>
            <input type="password" id="confnewpassword" name="confnewpassword" style="width: 225px;" required>
        </div>
    </div>

    <hr style="height: 1px; background-color: black;">
    <button type="submit" class="btn btn-outline-success" style="font-size: 20px">Save</button>
</form>
</div>
{% if message %}
    <p style="color: green;">{{ message }}</p>
{% endif %}

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
{% endblock %}
