    {% extends 'base.html' %}
    {% load static %}
    {% block title %}Equipment {% endblock %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'jal/css/upper.css' %}">
    <div class="upper">
        <div class="top-row">
            <div class="img">
                <img src="{% static 'jal/images/full_logo.png' %}" alt="Logo">
            </div>
            <div class="page-title">
                <h2 style='color: #1175B7;'>Equipment </h2>
            </div>
            <div class="account-dropdown">
                <button><img src="{% static 'jal/images/icon.png' %}" alt="Account Icon"></button>
                <div class="account-dropdown-content">
                    <a href="{% url 'accountdetails' %}">My Profile</a>
                    <a href="{% url 'changepassword' %}">Change Password</a>
                    <a href="{% url 'Log_out' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
<hr>
<div class="form-wrapper location-form">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container2">
            <div>
                <label for="eid">Equipment ID:<span class="required-field"></span></label>
            </div>
            <div>
                {{ next_id }}
            </div>
            <div>
                <label for="equipment_name">Equipment Name:<span class="required-field"></span></label>
            </div>
            <div>
                <input type="text" id="equipment_name" name="equipment_name" style="width: 225px;" required>
            </div>

            <div>
                <label for="equipment_type_id">Equipment Type:<span class="required-field"></span></label>
            </div>
            <div>
                <select name="equipment_type_id" id="equipment_type_id" style="width: 230px;" required>
                    <option value="" selected>Select an equipment type</option>
                    {% for et in ets %}
                    <option value="{{ et.equipment_type_id}}">{{ et.equipment_type_description }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <hr style="height: 1px; background-color: black;">
        <div style="display: flex; gap: 300px; margin-top: 30px;">
  <a href="{% url 'equipmenttype' %}" class="uniform-button" role="button" style = "min-width:300px;margin-top:15px">Add Equipment Type</a>
  <button type="submit" class="uniform-button">Save</button>
</div>
    </form>
    
</div>
<hr>
{% endblock %}