{% extends 'base.html' %}
{% load static %}
{% block title %}Sub Location{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'jal/css/upper.css' %}">
<div class="upper">
    <div class="top-row">
        <div class="img">
            <img src="{% static 'jal/images/full_logo.png' %}" alt="Logo">
        </div>
        <div class="page-title">
            <h2 style='color: #1175B7;'>Sub Location</h2>
        </div>
        <div class="account-dropdown">
    <button><img src="{% static 'jal/images/icon.png' %}" alt="Account Icon"></button>
    <div class="account-dropdown-content">
        <a href="{% url 'accountdetails' %}">My Profile</a>
        <a href="{% url 'changepassword' %}">Change Password</a>
        <a href="{% url 'Log_out' %}">Logout</a>
    </div>
</div>
    </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <style>
    #map {
      width: 100%;
      height: 600px;
    }
  </style>
 
<hr>
<div class="form-wrapper location-form">
<form method="POST" action="">
    {% csrf_token %}
    <div class="form-grid-2">
        <div>
            <label for="location">Location:<span class="required-field"></span></label>
        </div>
        <div>
            <select name="location" id="location" style="width: 230px;" required>
                <option value="" selected>Select a location</option>
                {% for l in ls %}
                <option value="{{ l.location_id}}"data-rad="{{l.radius_area_mts}}" data-id = "{{l.location_id}}" data-lat='{{l.loc_latitude}}' data-lng = '{{l.loc_longitude}}'>{{l.location_name }}</option> 
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="sub-location">Sub-Location:<span class="required-field"></span></label>
        </div>
        <div>
            <input type="text" id="sub-location" name="sub-location" style="width: 225px;" required>
        </div>
    </div>
    <div style="display: flex; gap: 75px; margin-top: 30px; align-items: center;">
  <a href="{% url 'equipmentlocation' %}" class="uniform-button" role="button" style = "min-width:300px;margin-top:15px">Add Equipment to Sub-Location</a>
  <button type="submit" class="uniform-button">Save</button>
</div>  
</div>

    <input type="hidden" name="latitude" id="latitude" required>
    <input type="hidden" name="longitude" id="longitude" required>
    <div id="map"></div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script>
    // Initialize the map
    var map = L.map('map').setView([18.2341, 75.6950], 8);

    // Add tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);
    


    var curmarker = null;
    var lat = null;
    var lng = null;
    map.on('click',function(e){
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;
        if(curmarker != null){
            map.removeLayer(curmarker);
        }
        curmarker = L.marker([lat,lng]).addTo(map);
        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = lng;
    })
    
</script>
<script>
    var markers = [];
    var circles = [];
    document.getElementById('location').addEventListener('change', function () {
         markers.forEach(function(marker) {
        map.removeLayer(marker);
    });
        circles.forEach(function(circle) {
            map.removeLayer(circle);
    });
    circles = [];
    markers = [];
        var selectedOption = this.options[this.selectedIndex];
        var lat = selectedOption.getAttribute('data-lat');
        var lng = selectedOption.getAttribute('data-lng');
        var locid = selectedOption.getAttribute('data-id');
        var radius = selectedOption.getAttribute('data-rad');
        
        if (lat && lng) {
            
            var latFloat = parseFloat(lat);
            var lngFloat = parseFloat(lng);
            map.setView([latFloat, lngFloat], 12); // Zoom level 13 or whatever fits
            var circle = L.circle([latFloat, lngFloat], Number(radius)).addTo(map);
            circles.push(circle);
            {%for sl in sls%}
            if({{sl.location_id}} == locid){
                var marker = L.marker([{{sl.s_loc_latitude}},{{sl.s_loc_longitude}}]).addTo(map);
                markers.push(marker);
            }
            {%endfor%}
        }
        
    });
</script>    
</form>
<hr>

{% endblock %}
